@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow-1 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.animate-enter .animate-fade {
  opacity: 0;
}
.animate-enter-active .animate-fade {
  opacity: 1;
  transition: opacity 300ms;
}
.animate-exit .animate-fade {
  opacity: 1;
}
.animate-exit-active .animate-fade {
  opacity: 0;
  transition: opacity 300ms;
}

.animate-enter.animate-fade-transform,
.animate-enter .animate-fade-transform {
  opacity: 0;
  transform: scale(0.9);
}
.animate-enter-active.animate-fade-transform,
.animate-enter-active .animate-fade-transform {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.animate-exit.animate-fade-transform,
.animate-exit .animate-fade-transform {
  opacity: 1;
}
.animate-exit-active.animate-fade-transform,
.animate-exit-active .animate-fade-transform {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
@media (max-width: 800px) {
  .animate-enter.animate-fade-transform,
  .animate-enter .animate-fade-transform {
    transform: translateY(100%);
  }
  .animate-enter-active.animate-fade-transform,
  .animate-enter-active .animate-fade-transform {
    transform: translateY(0);
  }
  .animate-exit-active.animate-fade-transform,
  .animate-exit-active .animate-fade-transform {
    transform: translateY(100%);
  }
}